# --- CONFIGURACION LOCAL / ENTORNO ---

# Base de Datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=subscription_db

# Seguridad JWT (32+ bytes en hex/base64)
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000

# Notificaciones Email (Mailtrap SMTP)
SPRING_MAIL_HOST=sandbox.smtp.mailtrap.io
SPRING_MAIL_PORT=2525
SPRING_MAIL_USERNAME=TU_USUARIO_MAILTRAP
SPRING_MAIL_PASSWORD=TU_PASSWORD_MAILTRAP
